.ql-indent-1 {
  text-indent: 50px;
}
.ql-indent-2 {
  text-indent: 100px;
}
.ql-indent-3 {
  text-indent: 150px;
}
.ql-indent-4 {
  text-indent: 200px;
}
.ql-indent-5 {
  text-indent: 250px;
}
.ql-indent-6 {
  text-indent: 300px;
}
.ql-indent-7 {
  text-indent: 350px;
}
.ql-indent-8 {
  text-indent: 400px;
}

.ql-align-right {
  text-align: right;
}
.ql-size-small {
}
.ql-size-large {
}
.ql-size-huge {
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
